* {
  box-sizing: border-box;
}
/* 把所有标题标签强制变成普通文本的样式 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-weight: normal; /* 不加粗 */
  line-height: inherit;
}
h1 {
  margin: 0;
}
body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  background: #f5f5f5;
  min-height: 100vh;
}
hr {
  width: 100px;
  border: 0;
  border-top: 4px solid #eee;
  margin-left: 2rem;
}
pre code {
  font-family:
    "Fira Code", "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 14px;
  line-height: 1.6;
  tab-size: 4;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  border: 1px solid #ddd;
  border-spacing: 0;
  padding: 0.5rem 0.5rem;
}

/* 盒子容器 */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.box {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  background: #fff;
  margin: 0 15px;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  padding: 2.5rem 2rem 0.625rem;
}
.cool-title {
  background:
    linear-gradient(45deg, rgba(255,51,102,0.8), rgba(51,204,255,0.8),rgba(255,51,102,0.8));
    background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: gradientFlow 3s linear infinite;
}
@keyframes gradientFlow {
  0% { background-position: 0% center; }
  100% { background-position: 200% center; }
}

/* 首页文章列表 */
.article-list {
  padding: 1rem 2rem 0;
}
.article-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.625rem 2rem;
  border: 1px solid #eee;
  /* border-radius: 0.625rem; */
  background: #fff;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}
.article-item:hover {
  border-color: #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transform: translateY(-2px);
}
.article-title {
  margin: 0;
  padding: 0.625rem 0rem;
  font-size: 1.125rem;
  font-weight: 500;
  flex: 1;
  max-width: 80%;
}
.article-time {
  padding: 0.625rem 0rem;
  font-weight: bold;
  font-size: 0.875rem;
  color: #999;
  white-space: nowrap;
  margin-left: 1rem;
}
.article-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #999;
}

/* 文章详情 */
.content {
  padding: 0 2rem;
  line-height: 1.6;
  padding-bottom: 2rem;
}
.content h2 {
  position: sticky;
  top: 0;
  background: #fff;
}
.content img {
  width: 100%;
  height: auto;
}
.info {
  margin: 1rem 0;
  border-left: 4px solid #999;
  display: block;
  background: #eee;
  padding: 1rem 1.25rem;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}
.code {
  background: #f0f0f0;
  font-size: 14px;
  line-height: 1.6px;
  padding: 0.1rem 0.25rem;
  margin: 0 1px;
}

@media screen and (max-width: 768px) {
  .article-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .article-title {
    max-width: 100%;
  }
  .article-time {
    margin-left: 0;
  }
}
